/* Fixel — MacPaw + AlfaBravo, SIL Open Font License (see OFL.txt).
 * Subset to Latin + Cyrillic by scripts/subset-fixel.mts; both scripts sit in
 * one file because every reader of this product needs Cyrillic. */
@font-face {
  font-family: 'Fixel Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./files/fixel-display-800.woff2') format('woff2');
}
